
body {
  
  background-image: url(./landing.jpeg);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  font-family: Arial, sans-serif; 
  margin: 0; 
  padding: 0; 
}
.van{
  background-image: url('./moving-van.jpg');

  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; 
}


header, footer{
  background-color: #333; /* Dark background color for header and footer */
  color: #fff; /* Text color */
  padding: 20px;
  text-align: center;
}

h1, h2 {
  margin-top: 0; /* Remove default margin for headings */
}
div{
    position:relative;
    top:80%;
    left:50%;
    transform: translate(-50%,-1.5%);
  
    
}
.content { animation: fadeIn 2s infinite;}
 @keyframes fadeIn {
       0%{ opacity: 0;}
       5%{opacity: 5; }
       100%{ opacity: 0;}
 }
 .content{animation: slideIn 2s infinite;}
@keyframes slideIn{
 0%{ transform: translateX(75%);}
 50%{
    transform: translateX(0);
 }
 100%{ transform: translateX(75%);}
}
.feature {
  flex: 1; 
  max-width: 300px; 
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4); 
  border-radius: 8px; /* Rounded corners */
  margin: 0 10px; /* Add margin between features */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feature{animation: bounce 2s infinite;}
@keyframes bounce{
 0%{ transform: translatey(o);}
 40%{
    transform: translatey(-20px);
 }
 60%{ transform: translatey(-10px);}
}

     



.content {
  flex: 1; 
  max-width: 300px; 
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4); 
  border-radius: 8px; /* Rounded corners */
  margin: 0 10px; /* Add margin between features */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}


footer {
  text-align: center; /* Center align text */
}