 body{
  background: linear-gradient(135deg, hsl(231, 38%, 14%), hsl(230, 20%, 7%));
 }
  .lakshmi {
    color:  indianred;
  }
  .d-block{
       border-radius: 20% ;

  }
  .feature{
    
    display: flex;
    justify-items: center;

  }
  .fa{
    display: inline;
    justify-items: space-between;
    margin-right: 20px;
  }
  .image{
    height:30px;
    width: 30px;
    border-radius: 50%;
  }
  .fs-4{
    color:  indianred;
    font-family:'caveat',cursive;
    font-size: xx-large;
  }
 .featurette-heading{
    font-size: xxx-large;
    justify-content: center;
    color:blueviolet;
    
 }
 .skills{
  display: grid;
  justify-content: flex-end;
  
 }
 .form-label{
  inset:30px 40px;
  color:white;
  font-size:large;
  font-family: 'Times New Roman', Times, serif;
 }
 .contact{
  margin-top: 80px;
 }
 .fw{
   color:blueviolet;
   font-size:40px;
 }
 .working{
  display:flex;
  border-radius: 200px 50px 200px 20px;
 }
 .fz{
  color:blueviolet;
  font-size:40px;
  justify-content: center;
}
.picture{
    
 position: relative;

}
